@model FundViewModel

@{
    ViewBag.SelectedWalletTab = "transfer-money";
}

<div class="form-group">
    <label asp-for="Amount"></label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input asp-for="Amount" class="form-control" type="text" readonly>
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-primary">Change amount</a>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=@(Model.PayPalClientId)">
</script>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            return PlumPack.Wallet.api().post("@Url.Action("PayPalOrderCreate")", {
                flowId: "@Model.FlowId"
            }).then(function(x) {
                return x.orderId;
            });
        },
        onCancel: function (data) {
            return PlumPack.Wallet.api().post("@Url.Action("PayPalOrderCancel")", {
                flowId: "@Model.FlowId",
                orderId: data.orderID
            });
        },
        onApprove: function(data) {
            return PlumPack.Wallet.api().post("@Url.Action("PayPalOrderCapture")", {
                flowId: "@Model.FlowId",
                orderId: data.orderID,
                payerId: data.payerID
            }).then(function(){
                PlumPack.Wallet.api().redirect("@Url.Action("PayPalOrderCompleted", new {flowId=Model.FlowId})");
            })
        }
    }).render('#paypal-button-container');
</script>